body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.header-container,
.container {
    max-width: 1200px;
    margin: auto;
    position: relative;
}

.container {
    padding-top: 3em;
    padding-bottom: 5em;
    /* outline: 1px solid; */
}

header {
    background-color: #032541;
    padding-top: 1em;
    padding-bottom: 1em;
}

.navigation {
    padding: 0.5em 0.5em;
    display: inline-block;
    color: #fff;
    cursor: pointer;
}

.navigation:hover {
    color: #02B1E1;
}

.navigation:not(:last-child) {
    margin-right: 1em;
}

.container-popular {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* outline: 1px solid red; */
    gap: 1em;
    justify-items: center;
    justify-content: space-between;
}

.movie {
    width: 168px;
    max-width: 168px;
    cursor: pointer;
    position: relative;
    /* outline: 1px solid green; */

}

.movie:hover .movie__title {
    color: #07BAD9
}

.movie .movie__poster {
    border-radius: 9px;
    overflow: hidden;
    line-height: 0;
    height: 250px;
}

.movie__poster__img {
    height: 100%;
}

.movie .movie__vote-average {
    width: 32px;
    height: 32px;
    position: absolute;
    background-color: #032541;
    border-radius: 50%;
    color: #d3dee0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 0.8em;
    top: -16px;
    right: 16px;
    z-index: 1;
    border: 2px solid #07bad9
}

.movie .movie__title {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.movie .movie__release-date {
    font-size: 0.85em;
    margin: 0;
    color: rgb(95, 95, 95);
}

.movie .movie__content {
    line-height: 1.1;
    padding-top: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
    position: relative;
}

.movie-detail {
    display: flex;
    gap: 2em
}

.movie-detail .movie__title {
    font-size: 2em;
}

.loading {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 10em;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    padding: 1em;
    border-radius: 0.4em;
}

.spinner {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 9px solid;
    border-color: #dbdcef;
    border-right-color: #07bad9;
    animation: spinner-d3wgkg 1s infinite linear;
}

@keyframes spinner-d3wgkg {
    to {
        transform: rotate(1turn);
    }
}